@media (max-width: 1024px) {
  header {
    #nav1 {
      display: none;
    }
   #refresh{
    display: none;
   }

    .mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  #nss:hover {
    padding: 0;
  }
  #container2{
    gap: 1rem;
  }
}
@media (max-width: 580px){
  header{
    .showMobile1{
      display: flex;
    }
  }
  main{
    .showMobile2{
      display: flex;
    }
  }
}